<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ghost</title>
	
	
<meta name="ghost-user/config/environment" content="%7B%22modulePrefix%22%3A%22ghost-user%22%2C%22environment%22%3A%22development%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22trailing-history%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%2C%22Array%22%3Atrue%2C%22String%22%3Atrue%2C%22Function%22%3Atrue%7D%2C%22ENABLE_DS_FILTER%22%3Atrue%7D%2C%22APP%22%3A%7B%22version%22%3A%221.0%22%2C%22LOG_ACTIVE_GENERATION%22%3Atrue%2C%22LOG_TRANSITIONS%22%3Atrue%2C%22LOG_TRANSITIONS_INTERNAL%22%3Atrue%2C%22LOG_VIEW_LOOKUPS%22%3Atrue%2C%22name%22%3A%22ghost-user%22%7D%2C%22ember-simple-auth%22%3A%7B%22authenticationRoute%22%3A%22sign-in%22%2C%22routeAfterAuthentication%22%3A%22%22%2C%22routeIfAlreadyAuthenticated%22%3A%22blog%22%7D%2C%22torii%22%3A%7B%7D%2C%22ember-cli-mirage%22%3A%7B%22enabled%22%3Afalse%2C%22usingProxy%22%3Afalse%7D%2C%22exportApplicationGlobal%22%3Atrue%7D" />
	
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "vendor.css" ghost="false"}}">
    <link rel="stylesheet" href="{{asset "ghost-user.css" ghost="false"}}">

  </head>
  <body>

    <script src="{{asset "vendor.js" ghost="false"}}"></script>
    <script src="{{asset "ghost-user.js" ghost="false"}}"></script>

  </body>
</html>
